body {
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
 
}

.navbar {
    background-color: rgb(255, 192, 23);
    padding-left: 160px;
    padding-right: 160px;
   /* position: fixed; 
    top:0px; 
    left:0px;
    right:0px; */
}

a {
    text-decoration: none;
    color: black;
}

a:link {
    text-decoration:none;
}

a:hover {
    color: black;
}

.buton {
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 20px;
}

.navbar .col-sm-7 .row .col-sm-2 {
    display: flex;
    align-items: center;
}

.buton a:hover {
    color: rgb(255, 255, 255);
}

.buton a {
    color: white;
}

.section1{
    background-color:  rgb(255, 192, 23);
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
 .article .section1 .container .row .yazı{
    padding: 80px 0px;
    font-size: 100px;
    color:black;
}
.yazı .buton{
    font-size: 25px;
    text-align: center;
    width: 200px;
    margin-top:30px;
}

.section2{
    border-color: rgb(233,233,233);
    border-style: solid;
    border-width: 1px;
}
.section2 .container .row .col-sm-12 {
    margin-top: 20px;
    margin-bottom: 0px;
}
.liste{
    color: rgb(230,230,230);
    font-size: 40px;
}

.section2 .container .row .col-sm-4 .container .row .col-sm-10 {
    margin-top: 30px;
}

.article2 {
    margin-top: 50px;
}

.article2 .container .row .col-sm-8 .section .container {
    margin-top: 50px 0px;
    padding: 20px;
}

.article2 .container .row .col-sm-4 .aside span {
    font-size: 13px;
    margin-left: 20px;
}

.article2 .container .row .col-sm-4 .aside .etiket  {
    border-color: rgb(233,233,233);
    border-style: solid;
    border-width: 1px;
    width:100px;
    margin: 5px 3px;
    padding: 3px;
    text-align: center;
    font-size: 13px;
}
.article2 .container .row .col-sm-4 .aside .etiket a{
    color: rgb(175,175,175);
}
.butonlar {
    margin-left: 20px;
    border-top-color:rgb(233,233,233) ;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 20px;
}
.butonlar a {
    color: rgb(76, 76, 76);
    padding: 10px;
    font-size: 13px;
}
.article2 .container .row .col-sm-8 .section .container .row .col-sm-8 span {
    color: rgb(175,175,175);
}